

body{display: flex; flex-direction:row ; align-items: center; justify-content: center; background-color: rgb(1, 49, 155); text-align: center;}
form {
    display: flex;
    flex-direction:row;
    align-items:self-end;
}
p{color: rgb(0, 0, 0); font-family: cursive;font-size: 1.2em; margin: 10px;}
h1{color: aliceblue; font-size: larger; align-items: center;}
h2{position: fixed; bottom: 0; right: 4%;color: aliceblue; font-size: medium; align-items: center;}

#chat-container{position: fixed; top: 8%;border: 2px black; border-radius: 10px;
margin-bottom: 10px ; width: 53%;height: 80%; overflow-y:auto; padding: 10px; font-family: cursive;text-align: center;
background-color: rgb(194, 194, 194); font-size: 1.2em;}

textarea{position: fixed; 
bottom: 0; left:25%;
margin-bottom: 10px ; width: 45%;height: 5%;margin: 10px;border: none; border-radius: 10px;font-family: cursive;text-align: center;
font-size: 1.2em;}
textarea:focus{border: solid 3px gold; outline: none;}
#generate,
#record {
    position: fixed;
    bottom: 0;
    width: 50%;
    height: 5%;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: cursive;
    text-align: center;
    font-size: 1em;
}

#generate{right: 25%;background-color: rgb(127, 172, 255);color: rgb(0, 0, 0);width: 3%;}
#generate:hover{background-color:gold ; color:rgb(0, 0, 0);cursor: pointer; }
#record{right: 21.5%; background-color: rgb(127, 172, 255);color: rgb(0, 0, 0);width: 3%;}
#record:hover{background-color:gold ; color:rgb(0, 0, 0);cursor: pointer; }