<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
</head>
<body>
    <div class="column left" >
        <h1>Experimantal Chatbot</h1>
        <br>
        <h2>Tip:<br>Press the mic button to record, <br>then wait for Bot's <br> response automatically</h2>
    </div>
    <div class="column right" >

        {% for message in get_flashed_messages() %}
        <p id="p2">{{ message }}</p>
        {% endfor %}
        
        <div id="chat-container" class="scrollable-container">
            {% for message in chat_messages %}
                <p>{{ message['content'] }}</p>
            {% endfor %}
        </div>
    
        <form id="chatForm" method="post" action="{{ url_for('llmexp') }}"><br>
    
            <textarea placeholder="Ask anything..." id="user_input" name="user_input" maxlength="256" required> </textarea>
            
            <button type="button" onclick="startRecording()" id="record"><i class="fa fa-microphone"></i></button>
            
            <button type="submit" id="generate" class="btn">
                <i class="fa fa-paper-plane"></i>
            </button>
            
        </form>

    </div>

    <script>
        var chatContainer = document.getElementById("chat-container");
        chatContainer.scrollTop = chatContainer.scrollHeight;

        function startRecording() {
            var recognition = new webkitSpeechRecognition();
            recognition.lang = 'en-US';

            recognition.onresult = function(event) {
                console.log('Executing speakBotResponse function');
                var transcript = event.results[0][0].transcript;
                document.getElementById('user_input').value = transcript;
                // Submit the form directly
                document.getElementById('chatForm').submit();
            };

            recognition.start();
        }

    </script>
</body>
</html>
